<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>weatherDays</key>
	<string>2</string>
	<key>weatherHours</key>
	<string>12</string>
	<key>weatherKey</key>
	<string>418b3cace1ac4ba39df2498460018436</string>
</dict>
</plist>
